html, body {
  padding     : 0;
  margin      : 0;
  height      : 100%;
  width       : 100%;
  font-family : "Open Sans", "Helvatica Nue", "Helvatica", sans-serif;
}

:focus {
  outline : none !important;
}

#main-container {
  height : 100%;
  width  : 100%;
}

#main-container .dijitContentPane {
  margin  : 0 !important;
  padding : 0 !important;
  border  : none !important;
}

#title-pane {
  top                            : 0;
  left                           : 20px;
  padding                        : 15px;
  -moz-border-radius-bottomleft  : 3px;
  -moz-border-radius-bottomright : 3px;
}

#app-title-node {
  font-size : 21pt;
}

#map-pane {
  color : #222;
}

#map-pane .esriScalebarLabel {
  color : #fff;
}

#map-pane .esriScalebarLine {
  border-color : #fff;
}

.map-overlay {
  z-index  : 99;
  position : absolute;
}

.esriSimpleSliderBL {
  bottom : 20px !important;
  left   : 20px;
}

.scalebar_bottom-left {
  bottom : 48px;
  left   : 60px !important;
}

#layers-pane {
  top  : 80px;
  left : 20px;
}

#tools-pane {
  top   : 10px;
  right : 10px;
}

#profile-tools-node {
  position : absolute;
  right    : 10px;
}

.dijitToolbar {
  vertical-align : middle !important;
  border-radius  : 3px !important;
  border         : none !important;
  padding        : 5px !important;
}

.movable-label {
  z-index          : 99;
  padding          : 3px;
  position         : relative;
  top              : 0;
  right            : 108px;
  width            : 100px;
  text-align       : center;
  color            : #333;
  background-color : #dadada;
  border-bottom    : solid 1px #858585;
  border-left      : solid 1px #858585;
}

#map-tools-node {
  top   : 20px;
  right : 20px;
  width : 250px;
}

#main-right-pane {
  width : 390px;
}

#equivalent-node {
  margin-top : 30px;
}

#about-parent-node {
  position  : absolute;
  top       : 5px;
  right     : 5px;
  font-size : smaller;
}

.claro .dijitDialog {
  border        : none !important;
  border-radius : 3px;
}

#about-dialog-content {
  width : 900px;
}

.section {
  margin : 5px;
}

.section-title {
  font-size     : larger;
  font-weight   : bolder;
  border-bottom : solid 2px #666;
}

.section-content {
  padding : 10px;
}

.section-subtitle {
  text-decoration : underline;
}

.section-subcontent {
  padding-left : 15px;
  margin       : 5px;
}

.section-source {
  color      : #999;
  font-style : italic;
}

.section a {
  color           : #999;
  font-style      : italic;
  text-decoration : none;
}

.section a:hover {
  color            : darkblue;
  background-color : #fff9ea;
}

#main-bottom-pane {
  height    : 225px;
  font-size : smaller;
  overflow  : hidden;
}

#profile-chart-node {
  height : 100%;
  margin : 0 auto 0 auto;
}

#profile-chart-legend-node {
  z-index   : 99;
  position  : absolute;
  bottom    : 10px;
  left      : 80px;
  font-size : medium;
}

.toggle-swipe-icon {
  width            : 16px;
  height           : 16px;
  background-image : url(../images/EffectsSwipe16.png);
}

.profile-tool-icon {
  width            : 16px;
  height           : 16px;
  background-image : url(../images/ProfileGraphCreate16.png);
}

.graph-tool-icon {
  width            : 16px;
  height           : 16px;
  background-image : url(../images/Green_KeyFacts_16.png);
}

.clear-icon {
  width            : 16px;
  height           : 16px;
  background-image : url(../images/GenericDelete16.png);
}

.glacier-item {
  margin-bottom : 50px;
  padding-left  : 10px;
}

.equivalent-item {
  margin-bottom : 20px;
  padding-left  : 10px;
}

.equivalent-title {
  font-size     : larger;
  font-weight   : bolder;
  border-bottom : 1px solid;
}

.equivalent-icon {
  width          : 80px;
  height         : 80px;
  vertical-align : top;
  padding-top    : 10px;
  font-size      : 50pt;
}

.equivalent-count {
  font-size : 32pt;
}

.equivalent-details {
  font-size   : smaller;
  font-style  : italic;
  line-height : 1.5em;
}

.equivalent-details.volume {
  padding-right : 24px;
}

.equivalent-details.volume[gain="none"] {
  padding-right : unset;
}

.equivalent-details.volume[gain="positive"] {
  background : url(../images/GreenUpArrow24.png) no-repeat right;
}

.equivalent-details.volume[gain="negative"] {
  background : url(../images/RedDownArrow24.png) no-repeat right;
}

/*================================================================*/

.app-error .loading-message {
  background  : url(../images/error.png) no-repeat top center;
  padding-top : 60px;
  width       : 100%;
  position    : absolute;
  z-index     : 2;
  top         : 40%;
  left        : 0;
  text-align  : center;
}

.message-node {
  position         : absolute;
  top              : 30%;
  z-index          : 99;
  width            : 100%;
  padding          : 40px;
  text-align       : center;
  font-size        : 2em;
  color            : #fff;
  text-shadow      : 1px 1px 0 #222;
  background-color : rgba(170, 170, 170, 0.5);
}

.error-node {
  color : darkred;
}

/*================================================================*/